USE [master]
GO
/****** Object:  Database [PM01_519_Mamov]    Script Date: 19.04.2023 17:15:19 ******/
CREATE DATABASE [PM01_519_Mamov]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PM01_519_Mamov', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PM01_519_Mamov.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PM01_519_Mamov_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PM01_519_Mamov_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PM01_519_Mamov].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PM01_519_Mamov]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 19.04.2023 17:15:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](max) NOT NULL,
	[EnglishCountryName] [nvarchar](max) NOT NULL,
	[Code] [nchar](2) NOT NULL,
	[Code2] [int] NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Events]    Script Date: 19.04.2023 17:15:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventSecurity]    Script Date: 19.04.2023 17:15:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventSecurity](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](max) NOT NULL,
	[Date] [date] NOT NULL,
	[Days] [int] NOT NULL,
	[CityID] [int] NULL,
 CONSTRAINT [PK_EventSecurity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Gender]    Script Date: 19.04.2023 17:15:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GenderName] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 19.04.2023 17:15:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JobName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Joins]    Script Date: 19.04.2023 17:15:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Joins](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Birthday] [date] NOT NULL,
	[CountryID] [int] NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[Photo] [nvarchar](50) NOT NULL,
	[GenderID] [int] NOT NULL,
 CONSTRAINT [PK_Joins] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Jury]    Script Date: 19.04.2023 17:15:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jury](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](max) NOT NULL,
	[GenderID] [int] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Birthday] [date] NOT NULL,
	[CountryID] [int] NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[JobID] [int] NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[Photo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Jury] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Moderator]    Script Date: 19.04.2023 17:15:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moderator](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](max) NOT NULL,
	[GenderID] [int] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Birthday] [date] NOT NULL,
	[CountryID] [int] NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[JobID] [int] NOT NULL,
	[EventID] [int] NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[Photo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Moderator] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Organisation]    Script Date: 19.04.2023 17:15:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organisation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Birthday] [date] NOT NULL,
	[CountryID] [int] NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[Photo] [nvarchar](50) NOT NULL,
	[GenderID] [int] NOT NULL,
 CONSTRAINT [PK_Organisation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([ID], [CountryName], [EnglishCountryName], [Code], [Code2]) VALUES (1, N'Абхазия', N'Abkhazia', N'AB', 895)
INSERT [dbo].[Country] ([ID], [CountryName], [EnglishCountryName], [Code], [Code2]) VALUES (2, N'Австралия', N'Australia', N'AU', 36)
INSERT [dbo].[Country] ([ID], [CountryName], [EnglishCountryName], [Code], [Code2]) VALUES (3, N'Австрия', N'Austria', N'AT', 40)
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([ID], [EventName]) VALUES (1, N'IT в бизнесе')
INSERT [dbo].[Events] ([ID], [EventName]) VALUES (2, N'Разработка приложений')
INSERT [dbo].[Events] ([ID], [EventName]) VALUES (3, N'IT-инфраструктура')
SET IDENTITY_INSERT [dbo].[Events] OFF
SET IDENTITY_INSERT [dbo].[EventSecurity] ON 

INSERT [dbo].[EventSecurity] ([ID], [EventName], [Date], [Days], [CityID]) VALUES (1, N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', CAST(N'2022-10-26' AS Date), 1, 34)
INSERT [dbo].[EventSecurity] ([ID], [EventName], [Date], [Days], [CityID]) VALUES (2, N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', CAST(N'2022-07-14' AS Date), 3, 34)
INSERT [dbo].[EventSecurity] ([ID], [EventName], [Date], [Days], [CityID]) VALUES (3, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09' AS Date), 2, 2)
SET IDENTITY_INSERT [dbo].[EventSecurity] OFF
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([ID], [GenderName]) VALUES (1, N'Мужской')
INSERT [dbo].[Gender] ([ID], [GenderName]) VALUES (2, N'Женский')
SET IDENTITY_INSERT [dbo].[Gender] OFF
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([ID], [JobName]) VALUES (1, N'ИТ')
INSERT [dbo].[Jobs] ([ID], [JobName]) VALUES (2, N'Биг Дата')
INSERT [dbo].[Jobs] ([ID], [JobName]) VALUES (3, N'Дизайн')
SET IDENTITY_INSERT [dbo].[Jobs] OFF
SET IDENTITY_INSERT [dbo].[Joins] ON 

INSERT [dbo].[Joins] ([ID], [FIO], [Email], [Birthday], [CountryID], [Phone], [Password], [Photo], [GenderID]) VALUES (1, N'Ершова Нора Федотовна', N'techie@outlook.com', CAST(N'1987-03-26' AS Date), 71, N'+7 (960) 424-07-11', N'tKKevv8%', N'foto60.jpg', 2)
INSERT [dbo].[Joins] ([ID], [FIO], [Email], [Birthday], [CountryID], [Phone], [Password], [Photo], [GenderID]) VALUES (2, N'Афанасьева Жанна Валентиновна', N'agapow@yahoo.com', CAST(N'1988-01-04' AS Date), 34, N'+7 (930) 661-69-31', N'huSfHm4$', N'foto61.jpg', 2)
INSERT [dbo].[Joins] ([ID], [FIO], [Email], [Birthday], [CountryID], [Phone], [Password], [Photo], [GenderID]) VALUES (3, N'Крылова Рая Всеволодовна', N'chaikin@yahoo.ca', CAST(N'1988-04-05' AS Date), 73, N'+7 (957) 265-60-68', N'TlUwMw77%', N'foto62.jpg', 2)
SET IDENTITY_INSERT [dbo].[Joins] OFF
SET IDENTITY_INSERT [dbo].[Jury] ON 

INSERT [dbo].[Jury] ([ID], [FIO], [GenderID], [Email], [Birthday], [CountryID], [Phone], [JobID], [Password], [Photo]) VALUES (12, N'Герасимова Айлин Ефимовна', 2, N'loraine.aufderhar@johnston.info', CAST(N'1966-06-09' AS Date), 53, N'7(835)478-61-60', 3, N'TuhRzy', N'foto22.jpg')
INSERT [dbo].[Jury] ([ID], [FIO], [GenderID], [Email], [Birthday], [CountryID], [Phone], [JobID], [Password], [Photo]) VALUES (13, N'Большаков Августин Алексеевич', 1, N'juanita.kuvalis@yahoo.com', CAST(N'1978-07-12' AS Date), 52, N'7(173)770-55-13', 1, N'4Y83lz', N'foto23.jpg')
INSERT [dbo].[Jury] ([ID], [FIO], [GenderID], [Email], [Birthday], [CountryID], [Phone], [JobID], [Password], [Photo]) VALUES (14, N'Морозов Ким Демьянович', 1, N'ibode@lebsack.com', CAST(N'1981-10-11' AS Date), 67, N'7(518)761-85-69', 1, N'z0q7Co', N'foto24.jpg')
SET IDENTITY_INSERT [dbo].[Jury] OFF
SET IDENTITY_INSERT [dbo].[Moderator] ON 

INSERT [dbo].[Moderator] ([ID], [FIO], [GenderID], [Email], [Birthday], [CountryID], [Phone], [JobID], [EventID], [Password], [Photo]) VALUES (43, N'Царева Виктория Давидовна', 2, N'iunhxq41tgr5@tutanota.com', CAST(N'1988-07-03' AS Date), 33, N'7(567)103-73-32', 1, 1, N'FYi396Dd5u', N'foto9.jpg')
INSERT [dbo].[Moderator] ([ID], [FIO], [GenderID], [Email], [Birthday], [CountryID], [Phone], [JobID], [EventID], [Password], [Photo]) VALUES (44, N'Зорин Дмитрий Маркович', 1, N'ofdt4z1bijq0@tutanota.com', CAST(N'1993-09-07' AS Date), 57, N'7(79)644-01-06', 1, 1, N'7gi7E8K4Ng', N'foto10.jpg')
INSERT [dbo].[Moderator] ([ID], [FIO], [GenderID], [Email], [Birthday], [CountryID], [Phone], [JobID], [EventID], [Password], [Photo]) VALUES (45, N'Зотова Анна Тимуровна', 2, N'ac6yxzg7rl5k@mail.com', CAST(N'1990-09-21' AS Date), 11, N'7(488)643-19-98', 2, 2, N'3L3eA5eEg3', N'foto8.jpg')
SET IDENTITY_INSERT [dbo].[Moderator] OFF
SET IDENTITY_INSERT [dbo].[Organisation] ON 

INSERT [dbo].[Organisation] ([ID], [FIO], [Email], [Birthday], [CountryID], [Phone], [Password], [Photo], [GenderID]) VALUES (1, N'Васильев Всеволод Давидович', N'6z92wongmash@tutanota.com', CAST(N'1988-10-16' AS Date), 51, N'7(354)903-53-67', N'Ke22Yh8Pp7', N'foto1.jpg', 1)
INSERT [dbo].[Organisation] ([ID], [FIO], [Email], [Birthday], [CountryID], [Phone], [Password], [Photo], [GenderID]) VALUES (2, N'Новиков Фёдор Макарович', N'jkp23vlzsqei@gmail.com', CAST(N'1980-08-03' AS Date), 33, N'7(6562)925-01-77', N'Tj78jXeH68', N'foto2.jpg', 1)
INSERT [dbo].[Organisation] ([ID], [FIO], [Email], [Birthday], [CountryID], [Phone], [Password], [Photo], [GenderID]) VALUES (3, N'Фролова Владислава Савельевна', N'dncmxp1vqr4t@tutanota.com', CAST(N'1999-07-13' AS Date), 43, N'7(12)981-33-56', N'DF9a8cJf82', N'foto3.jpg', 2)
SET IDENTITY_INSERT [dbo].[Organisation] OFF
ALTER TABLE [dbo].[Joins]  WITH CHECK ADD  CONSTRAINT [FK_Joins_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Joins] CHECK CONSTRAINT [FK_Joins_Country]
GO
ALTER TABLE [dbo].[Joins]  WITH CHECK ADD  CONSTRAINT [FK_Joins_Gender] FOREIGN KEY([GenderID])
REFERENCES [dbo].[Gender] ([ID])
GO
ALTER TABLE [dbo].[Joins] CHECK CONSTRAINT [FK_Joins_Gender]
GO
ALTER TABLE [dbo].[Jury]  WITH CHECK ADD  CONSTRAINT [FK_Jury_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Jury] CHECK CONSTRAINT [FK_Jury_Country]
GO
ALTER TABLE [dbo].[Jury]  WITH CHECK ADD  CONSTRAINT [FK_Jury_Gender] FOREIGN KEY([GenderID])
REFERENCES [dbo].[Gender] ([ID])
GO
ALTER TABLE [dbo].[Jury] CHECK CONSTRAINT [FK_Jury_Gender]
GO
ALTER TABLE [dbo].[Jury]  WITH CHECK ADD  CONSTRAINT [FK_Jury_Jobs] FOREIGN KEY([JobID])
REFERENCES [dbo].[Jobs] ([ID])
GO
ALTER TABLE [dbo].[Jury] CHECK CONSTRAINT [FK_Jury_Jobs]
GO
ALTER TABLE [dbo].[Moderator]  WITH CHECK ADD  CONSTRAINT [FK_Moderator_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Moderator] CHECK CONSTRAINT [FK_Moderator_Country]
GO
ALTER TABLE [dbo].[Moderator]  WITH CHECK ADD  CONSTRAINT [FK_Moderator_Events] FOREIGN KEY([EventID])
REFERENCES [dbo].[Events] ([ID])
GO
ALTER TABLE [dbo].[Moderator] CHECK CONSTRAINT [FK_Moderator_Events]
GO
ALTER TABLE [dbo].[Moderator]  WITH CHECK ADD  CONSTRAINT [FK_Moderator_Gender] FOREIGN KEY([GenderID])
REFERENCES [dbo].[Gender] ([ID])
GO
ALTER TABLE [dbo].[Moderator] CHECK CONSTRAINT [FK_Moderator_Gender]
GO
ALTER TABLE [dbo].[Moderator]  WITH CHECK ADD  CONSTRAINT [FK_Moderator_Jobs] FOREIGN KEY([JobID])
REFERENCES [dbo].[Jobs] ([ID])
GO
ALTER TABLE [dbo].[Moderator] CHECK CONSTRAINT [FK_Moderator_Jobs]
GO
ALTER TABLE [dbo].[Organisation]  WITH CHECK ADD  CONSTRAINT [FK_Organisation_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Organisation] CHECK CONSTRAINT [FK_Organisation_Country]
GO
ALTER TABLE [dbo].[Organisation]  WITH CHECK ADD  CONSTRAINT [FK_Organisation_Gender] FOREIGN KEY([GenderID])
REFERENCES [dbo].[Gender] ([ID])
GO
ALTER TABLE [dbo].[Organisation] CHECK CONSTRAINT [FK_Organisation_Gender]
GO
USE [master]
GO
